body {
    width: 550px;
    margin: 0px;
    padding: 0px;
    background: #fff;
    font-size: 16px;
}

#nothing {
    margin: 20px;
    text-align: center;
}

#art {
    position: relative;
    margin: 0px;
    padding: 0px;
}

#art .object {
    display: block;
    width: 180px;
    height: 180px;
}

#art #art-icon {
    padding-top: 30px;
    font-size: 120px;
    text-align: center;
    color: #aaa;
    background: #ddd;
}

#controls {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 65px;
    font-size: 40px;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
}

#controls:hover {
    opacity: 1;
}

#controls a {
    padding: 0;
    color: #fff;
    text-shadow: 0px 0px 5px #333;
}

#controls a:hover {
    color: #aaa;
    text-decoration: none;
}

#controls a:active {
    color: #999;
}


#info {
    position: relative;
    margin: 0px;
    padding: 1em;
    vertical-align: middle;
}

#state-artist, #state-album {
    display: block;
    margin-left: 1.2em;
    text-indent: -0.7em;
}

#source {
    position: absolute;
    bottom: 0.2em;
    left: 1em;
    font-size: 0.8em;
    color: #999;
}

#playtime {
    position: absolute;
    bottom: 0.2em;
    right: 0.5em;
    font-size: 0.8em;
    color: #999;
}

#playbar {
    margin: 0px;
    border-radius: 0px;
}

#playbar .progress-bar {
    background-color: #555;
    transition-duration: 0s;
}
