#top {
    margin: 0;
    padding: 0;
}

.container {
    width: 700px;
}

.navbar {
    margin: 0;
    width: 100%;
    border: 0;
    border-radius: 0;
    background: #3973ac;
    box-shadow: 0 5px 5px #ccc;
    color: #fff;
    text-shadow: 1px 1px 1px #444;
}

.navbar .navbar-brand {
    margin: 0 10px 0 0;
    font-weight: bold;
    font-size: 1.2em;
}


.navbar li.active {
    background: none;
    color: #fff;
}

.navbar li:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.navbar li.active::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid #fff;
}

.navbar li a {
    color: #fff;
    font-size: 1.2em;
}

.navbar li a:hover, .navbar li a:focus {
    background: none;
}

h2 {
    margin: 25px 0 15px;
}

.option {
    margin: 10px 0;
    padding-left: 25px;
}

.option label {
    margin-bottom: 7px;
}

.option p {
    margin-bottom: 0;
}

.option input[type="checkbox"] {
    width: 20px;
    margin-left: -25px;
}

#scrobbling-enable .username {
    font-style: italic;
}
